@import '~bootstrap/scss/bootstrap';
@import 'variables';

body {
  background: $background-color-all;
}

.box {
  align-items: left;
  background-color: white;
  border: 1px solid black;
  color: black;
  display: flex;
  height: 450px;
  justify-content: center;
  padding: 80px;
}

.boxTwo {
  align-items: left;
  background-color: white;
  border: 2px solid black;
  color: black;
  display: flex;
  height: 100px;
  justify-content: center;
}

.success {
  color: green;
}

.failure {
color: red;
}

.login-sucess {
  color: black;
}
