@import '~bootstrap/scss/bootstrap';
@import 'variables';

body {
  background: $background-color-all;
  font-family: $page-font;
}

#logo {
  height: 100px;
  width: 150px;
}

.background-image {
  display: float;
}

.box {
  align-items: left;
  background-color: $colors-of-boxes;
  border: 1px solid $colors-of-boxes;
  color: $general-text-color;
  display: flex;
  height: 450px;
  justify-content: center;
  padding: 80px;
  border-radius: 10px;
}

.boxTwo {
  align-items: left;
  background-color: $colors-of-boxes;
  border: 2px solid $general-text-color;
  color: $general-text-color;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

[data-id ='0'] {
  border-left: 0;
  border-top: 0;
}

[data-id='1'] {
  border-top: 0;
}

[data-id='2'] {
  border-right: 0;
  border-top: 0;
}

[data-id='6'] {
  border-bottom: 0;
  border-left: 0;
}

[data-id='7'] {
  border-bottom: 0;
}

[data-id='8'] {
  border-bottom: 0;
  border-right: 0;
}

[data-id='5'] {
  border-right: 0;
}

[data-id='3'] {
  border-left: 0;
}

.success {
  color: $success-message;
  font-size: 23px;
}

.failure {
  color: $failure-message;
  font-size: 23px;
}

.login-sucess {
  color: $general-text-color;
}

.navbar {
  background: $colors-of-boxes;
  height: 150px;
  margin: auto;
}

.border {
  margin: 20px;
}

#logout, #logout-alert {
  padding-right: 120px;
}

h1 {
  padding-left: 120px;
}
