@import '~bootstrap/scss/bootstrap';
@import 'variables';

body {
  background: $background-color-all;
  font-style: $page-font;
}

.background-image {
  display: float;
}
.box {
  align-items: left;
  background-color: $colors-of-boxes;
  border: 1px solid $colors-of-boxes;
  color: $general-text-color;
  display: flex;
  height: 450px;
  justify-content: center;
  padding: 80px;
  border-radius: 10px;
}

.boxTwo {
  align-items: left;
  background-color: $colors-of-boxes;
  border: 2px solid $general-text-color;
  color: $general-text-color;
  display: flex;
  height: 100px;
  justify-content: center;
}

#box0 {
  border-top: 0;
  border-left: 0;
}

#box1 {
  border-top: 0;
}

#box2 {
  border-top: 0;
  border-right: 0;
}

#box6 {
  border-bottom: 0;
  border-left: 0;
}

#box7 {
  border-bottom: 0;
}

#box8 {
  border-bottom: 0;
  border-right: 0;
}

#box5 {
  border-right: 0;
}

#box3 {
  border-left: 0;
}

.success {
  color: $success-message;
}

.failure {
color: $failure-message;
}

.login-sucess {
  color: $general-text-color;
}

.navbar {
  background: $colors-of-boxes;
  height: 115px;
}
