$background-color-all: #DFDFDF;
$colors-of-boxes: #FFFFFF;
$success-message: green;
$failure-message: #DC0101;
$general-text-color: #000000;
$page-font: 'Carrois Gothic SC', sans-serif;
$box-background: #2d862d;
$amount: 0%;
