$background-color-all: #dfdfdf;
$colors-of-boxes: #fff;
$success-message: #2d862d;
$failure-message: #dc0101;
$general-text-color: #000;
$page-font: 'Carrois Gothic SC', sans-serif;
$box-background: #2d862d;
$amount: 0%;
$players-font: 'Fredoka One', cursive;
$shadow: #941912;
$gray: #a8a8a8;
